@if (!wizardState.isFirstSlide()) {
  <div id="back-button">
    <button mat-raised-button (click)="wizardState.handlePreviousSlide()">
      <mat-icon>navigate_before</mat-icon>
      <span>Back</span>
    </button>
  </div>
}
@if (!wizardState.isLastSlide()) {
  <div id="next-button">
    <button mat-raised-button (click)="wizardState.handleNextSlide()">
      <span>Next</span>
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
}
<main id="slide-content">
  <wizard-slide-instructions> </wizard-slide-instructions>
</main>
<div id="slide-count"></div>
